{% extends "base.jinja2" %}

{% block content %}
<h1>Posts</h1>
<ul>
    {% if not posts %}
        <h2>Add some posts!</h2>
    {% endif %}
    {% for id, post in posts.items() %}
        <li><a href="{{ url_for("get_post", post_id=id) }}">{{ post["title"] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}